DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_SETTINGS_MODULE=config.settings.development
DEBUG=True
TIME_ZONE=Africa/Dar_es_Salaam
DATABASE_URL=postgres://disciplinetrack_user:password@localhost:5432/disciplinetrack_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
MEDIA_ROOT=media
MEDIA_URL=/media/
